.card-label__container{
    position: absolute;  /* pra componente funcionar e ficar na frente, deixamos no card-component relative*/
    bottom: 90px;
    right: 0;
}

.card-label__content{
    display: flex;
    align-items: center;  /* vai ficar centralizado referente a sua div */
    justify-content: center;
    background-color: #0d0d0d;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI';
    font-weight: bold;
    height: 40px;
    padding: 0px 50px;
}