<div class="home__container">
    <app-card
        gameCover="/assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="129,87">
    </app-card>

    <app-card
        gameCover="/assets/bt-4.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="229,00">
    </app-card>

    <app-card
        gameCover="/assets/ac-cover.jpg"
        gameLabel="EXCLUSIVO"
        gameType="DISC | PS5"
        gamePrice="249,84">
    </app-card>

    <app-card
        gameCover="/assets/bt-hardline.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS3 PS4 PS5"
        gamePrice="50,00">
    </app-card>
</div>
